// --------------- Roboto ---------------
@font-face {
  font-family: 'Roboto';
  src: 'assets/fonts/Roboto/Roboto-Regular.tff';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 'assets/fonts/Roboto/Roboto-Medium.ttf';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 'assets/fonts/Roboto/Roboto-Bold.tff';
  font-weight: bold;
  font-style: normal;
}
