.contantFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    font-size: 3rem;
    font-weight: 600;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .divider {
    height: 2px;
    background-color: #d8d8d8;
    margin: 0.5rem 0;
  }

  .cityPostalContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
  }

  .agreementCheckbox {
    .agreementLabel {
      color: #555555;
    }
  }

  .errorMessage {
    color: red;
  }

  .submitButton {
    width: fit-content;
    color: white;
    background-color: #ef7878;
    color: white;
    padding: 2rem 4rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
