.headerContainer {
  height: 48px;
  box-shadow: 0 1px 1px #a0a9ba;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #pagesExtended {
    display: flex;
    gap: 2vw;
    font-size: 14px;
    font-weight: 500;
    color: #555555;
  }

  #pagesMenu {
    display: none;

    .hamburgerMenu {
      border: 0;
      background-color: inherit;
    }
  }

  //On small screens I hide the extended pages and show the hamburger menu
  @media (max-width: 768px) {
    #pagesExtended {
      display: none;
    }
    #pagesMenu {
      display: block;
    }
  }
}
