<mat-toolbar class="headerContainer">
  <img src="assets/images/logo_dark.png" alt="logo header" />

  <div id="pagesExtended">
    <ng-container *ngFor="let page of pages">
      <button mat-button (click)="navigateTo(page.link)">{{ page.label }}</button>
    </ng-container>
  </div>

  <div id="pagesMenu">
    <button mat-button-toggle [matMenuTriggerFor]="menu" aria-label="Menu button">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let page of pages">
        <button mat-menu-item (click)="navigateTo(page.link)">{{ page.label }}</button>
      </ng-container>
    </mat-menu>
  </div>
</mat-toolbar>
