.contactContainer {
  padding: 5vh 10vw;
  // padding 10+10=20vw
  width: calc(100% - 20vw);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;

  .form {
    // The default map width is 600px and 5vw is the gap
    width: calc(100% - 5vw - 600px);
    min-width: 400px;
  }

  @media (max-width: 1280px) {
    //In order to flex warp the form and the map
    .form {
      width: 100%;
      min-width: unset;
    }

    .map {
      width: 100%;
    }
  }
}
