.contactContainer {
  padding: 5vh 10vw;
  width: calc(100% - 20vw);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;

  .form {
    width: calc(100% - 5vw - 600px);
    min-width: 400px;
  }

  @media (max-width: 1280px) {
    .form {
      width: 100%;
      min-width: unset;
    }

    .map {
      width: 100%;
    }
  }
}
