.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  padding: 20px;
  border-radius: 5px;

  .buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .cancelButton {
    background-color: white;
  }

  .confirmButton {
    background-color: #ef7878;
  }

  .buttonText {
    position: relative;
    display: flex;
    gap: 10px;
  }
}
